body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;

    --primary-color: #007936;
    --accent-color: #eee;
    --light-text-color: rgb(107, 107, 107);
}

/* Describes the styling of the one and only element with id="mainheader", note the # in front of mainheader */
#mainheader {
    background-color: var(--primary-color);
    font-size: 3rem;
    color: white;
}

#sticky-header {
    display: block;
    z-index: +1;
}

#center-articles {
    position: relative;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: cyan;
}

a:link:active, a:visited:active {
  color: green;
}

#logo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-header img {
    margin-left: 30px;
}

main {
    padding: 25px;
}

nav
{
    height: 2rem;
    line-height: 2rem;
    background-color: darkgrey;
    text-align: center;

}

/* Describes the styling of all elements with class="parkname", note the . in front of parkname */
.parkname {
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Describes the styling of all <article> elements */
article {
    border: 1px solid var(--primary-color);
    color: var(--light-text-color);
    margin: 5px;
    display: block;
    top: 50%;
    left: 50%;
}

.order {
    padding-top: 25px;
}

.badge {
    background-color: red;
    display: inline-block;
    color: white;
    font-weight: bold;
    width: 25px;
    border-radius: 25px;
}


.orderbutton {
  background: hsl(170deg 0% 64%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin: 20px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: var(--primary-color);
  color: white;
  transform: translateY(-4px);
  transition:
      transform 600ms
      cubic-bezier(.3, .7, .4, 1);
}

.orderbutton:hover .front {
    transform: translateY(-6px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.orderbutton:active .front {
  transform: translateY(-2px);
}
